<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Vertical pocket detection</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lodc.ios.faceoff/reloadSettings</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lodc.ios.faceoff.settings</string>
			<key>key</key>
			<string>lockInPocket</string>
			<key>label</key>
			<string>Lock when placed in pocket</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lodc.ios.faceoff/reloadSettings</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lodc.ios.faceoff.settings</string>
			<key>key</key>
			<string>pocketUsesProx</string>
			<key>label</key>
			<string>Use proximity to check also</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>This will stop the system from sleeping, just like “Disable system sleep” on the main options page does. It also forces FaceOff to run on the lockscreen. And, it also acts somewhat like the Moto X feature to turn the screen on for a few seconds when removed from your pocket.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lodc.ios.faceoff/reloadSettings</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lodc.ios.faceoff.settings</string>
			<key>key</key>
			<string>unlockWhenOutOfPocket</string>
			<key>label</key>
			<string>Turn on when removed from pocket</string>
		</dict>
	</array>
	<key>title</key>
	<string>Pocket Settings</string>
</dict>
</plist>
